  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav class="navbar">
    <% if (user) { %>
      <a 
      role="button"
      href="/profiles"> 
      <button class="nav-btn">View Job Posts</button>
      </a>
    <% } %>
    <% if (user) { %>
      <a 
      role="button"
      href="/jobPosts/new">
        <button class="nav-btn">Add a Job Post</button> 
      </a>
    <% } %>
    <% if (user) { %>
      <a
      role="button"
      href="/languages/new"> 
      <button class="nav-btn">Manage Skills/Languages</button>
      </a>
    <% } %>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
