html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {

}



body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri Light, 'Trebuchet MS', sans-serif;
  margin: 5px;
  background: linear-gradient(to right bottom, #faedcd, #f7edcc, #f4edcb, #f1edcb, #eeedca, #eaebc7, #e6e9c5, #e2e7c2, #dde2bd, #d7deb8, #d2d9b3, #ccd5ae);
  /* Use a system font, if none are available use an available sans-sarif font */
  background-size: cover;
  height: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px auto;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-btn {
  background-color: #184E77;
  color: #D9ED92;
  border-radius: 8px;
  margin-bottom: 5px;
}

h1 {
  font-size: 30px;
  text-align: center;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  max-width: 1600px;
}

.card {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10% 70% 20%;
  grid-column-gap: 8px;
  grid-row-gap: 13px;
}

  
  /* .div1 { grid-area: 1 / 1 / 2 / 3; }
  .div2 { grid-area: 2 / 1 / 3 / 2; }
  .div3 { grid-area: 2 / 2 / 3 / 3; }
  .div4 { grid-area: 3 / 1 / 4 / 3; } */

.card-header {
  grid-column-end: span 2;
  font-size: 24px;
  margin: 0 10px;
  text-align: center;
}

.card-company {
  font-size: 18px;
}

h5 {
  margin: 0;
  font-size: 16px;
}

.contact-input {
  margin-bottom: 3px;
}

.delete-contact-btn {
  background-color: rgb(227, 164, 164);
  color: black;
  border-radius: 8px;
  margin-bottom: 5px;
}

.delete-btn {
  background-color: rgb(227, 164, 164);
  color: black;
  border-radius: 8px;
  margin-bottom: 5px;
}

.edit-btn {
  background-color: lightgray;
  color: black;
  border-radius: 8px;
  margin-bottom: 5px;
}

.card-body-right {
  margin-left: 15px;
}

.language-list {
  margin: 0;
}

.language-items-true {
  display: inline;
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px;
  color: green;
}

.language-items-false {
  display: inline;
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px;
  color: red;
}

.card-buttons {
  grid-column-end: span 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.language-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (min-width: 576px) {

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }


}